$color-primary: #9356DC;
$color-secundary: #FF79DA;
$color-tertiary: #99E2D0; 
$color-background: #F6F6F6;
$color-button: linear-gradient(to right bottom, $color-secundary, $color-primary);


$font-logo-titles:'Shrikhand';
$font-text: 'Roboto';